.search-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 80px;
}



.search-contents{
    width: 600px;
}


button{
    padding: 19px 28px;
    color: white;
    background-color: orangered;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 2px 4px 16px rgb(82, 22, 2);
    border: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

button:hover{
    box-shadow: 2px 4px 16px rgb(122, 32, 2);
    letter-spacing: 1px;
}
